locust==2.42.6
azure-identity==1.25.1
azure-core==1.36.0
azure-mgmt-core==1.6.0
azure-mgmt-resource==24.0.0
azure-mgmt-loadtesting==1.0.0
azure-developer-loadtesting==1.0.1
azure-kusto-data==6.0.0
azure-kusto-ingest==6.0.0
requests==2.32.4
pyyaml==6.0.3
